<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="phoenix" sizes="76x76" href="{% static 'authenticate/css/phoenix.png' %}">
    <link rel="icon" type="image/png" href="{% static 'authenticate/css/phoenix.png' %}">
    <meta name="viewreport" content="width=device-width,initial-scale-1.0">
    <title>Candidate Hiring Process</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'authenticate/css/base.css' %}">
  </head>
  <body>
    <div class="container-fluid banner">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-md">
            <a class="navbar-brand" href="{% url 'home' %}">Candidate Hiring Process</a>
            <ul class="nav">
              {% if user.is_authenticated %}
                <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}">Logout</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'mainapp:hr_admin' %}">Dashboard</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'about_home' %}">About</a> </li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'mainapp:career' %}">Career</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about_home' %}">About</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
        <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" type="button" name="close" data-dismiss="alert">
              <small><sup>x</sup></small>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
        {% block content %}
      {% endblock %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  </body>
</html>
