{% extends 'authenticate/base.html' %}
{% load static %}
{% block content %}
<div class="container offset-md-2">
  <div class="row">
    <div class="col-md-8">
      <div class="row" style="margin-top: 60px; box-shadow: -1px 1px 50px 10px black;">
        <div class="col-md-6">
          <ul>
            <a href="#" style="border-bottom: 2px solid #f44c89; padding: 10px;">Password reset sent</a>
          </ul>
          <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You shouls receive it shortly.</p>
          <p>If you don't receive an email, please make sure you have entered the address you had registred with, and check your spam folder.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
