{% extends 'authenticate/base.html' %}
{% load static %}
{% block content %}
<style>
  .btn-secondary{
    background: #e91d43;
    border: 2px solid #e91d43;
    border-radius: 0px;
    width: 250px;
    margin-top: 8px;
    font-size: 18px;
    margin-left:18%;
  }

  .btn-secondary:hover{
    background: #e91d43;
    border: 2px solid #e91d43;
    color: #000000;
  }
</style>
<div class="container offset-md-2">
  <div class="row">
    <div class="col-md-8">
      <div class="row" style="margin-top: 60px; box-shadow: -1px 1px 50px 10px black;">
        <div class="col-md-6">
          <ul>
            <a href="#" style="border-bottom: 2px solid #f44c89; padding: 30px;">Enter new Password</a>
          </ul>
          <p>Please enter your new pasword twice so we can verify you typed it correctly.</p>
          <form method="post">
            {% csrf_token %}
            <div>
              {{ form.as_p }}
              <input type="submit" name="update Password">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
