{% extends 'authenticate/base.html' %}

{% block content %}
    <style>
        .instr{
            font-size: 1.5em;
        }

        .btn{
            margin-left: 50%;
            color: #fff;
            transform: translateX(-50%);
            background: #e91d43;
            padding: 10px 20px;
            font-size: 1.5em;
            font-weight: 400;
        }

        .btn:hover{
        background: #e91e43;
        color: #000000;
        }
    </style>

            <!--<!DOCTYPE html>
<html>
<head>
         <title>DataFlair send email</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>-->
    <center>
        <h1 class = 'alert alert-success'>Subscribe Form</h1>
        <h3 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 50px;'>DataFlair Django Tutorials
    </h3>
    <form method="POST" action="{% url 'mainapp/CanPass' %}">
        <!-- Very Important csrf Token -->
        {% csrf_token %}
        <div class = "form-group">

            <h3>{{ form.as_p }}</h3>

            <br>
            <input type="email" placeholder="Email Address" name="email">
            <!--<input type="submit" name="Mail" class = 'btn btn-primary btn-lg'>-->
            <button type="submit" class="btn btn-secondary" name="button">Submit</button>
                </div>
            </form>
        </center>
</body>
</html>
{% endblock %}
