{% extends "mainapp/dashboard.html" %}
{% block content %}
  {% if user.is_authenticated %}
  <style>
    hr.style-one {
      border: 0;
      height: 3px;
      background: #333;
      background-image: linear-gradient(to right, gray, #fff, gray);
    }
    ul{
      color: #fff;
    }
  </style>
  <main role="main" class="container">
    <hr class="style-one"/><br>
    <form action="." method="GET">
      <div class="form-row">
          <div class="form-group col-4">
              <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="   HR ID exact..." />
                  <span class="input-group-append">
                      <div class="input-group-text">
                          <i class="fa fa-search"></i>
                      </div>
                  </span>
              </div>
          </div>
          &nbsp; &nbsp; &nbsp;
        <div class="form-group col-md-2 col-lg-2">
          <label for="date_of_interview">Interview date</label>
          <input type="date" class="form-control" id="date_of_interview" name="date_of_interview">
        </div>
          &nbsp; &nbsp; &nbsp;
        <!--<div class="form-group col-md-2">
          <label for="category">Category</label>
          <select id="category" class="form-control" name="category">
            <option selected>Choose...</option>
            {% for applicant in queryset %}
            <option value="{{ applicant.category }}">{{ applicant.category }}</option>
            {% endfor %}
          </select>
        </div>-->
        &nbsp; &nbsp; &nbsp; <button type="submit" class="btn btn-primary">Search</button>
      </div>

    </form><br>
    <hr class="style-one"/>
    <div class="row">
        <ul>
          {% for applicant in queryset %}
            <li>
              <span>Email: {{ applicant.email }}</span><br>
              <span>Name: {{ applicant.full_name }}</span><br>
              <span>Contact: {{ applicant.contact }}</span><br>
              <span>Highest Qualification with marks : {{ applicant.degree }} : {{ applicant.degree_score }}</span><br>
              <span>Type : {{ applicant.type }}</span><br>
              <span>Aptitude Score : {{ applicant.aptitude_score }}</span><br>
              <span>Technical Score : {{ applicant.technical_score }}</span><br>
              <span>Personality Score : {{ applicant.personality_score }}</span><br>
              <span>Category : {{ applicant.category }}</span><br>
              <span>HR ID : {{ applicant.hr_id }}</span><br>
              <span>Interview Date : {{ applicant.date_of_interview }}</span>
            </li>
            <hr />
          {% endfor %}
        </ul>
      </div>
  </main>
  {% endif %}
{% endblock %}
