{% extends 'mainapp/dashboard.html' %}
<script>
  {% block jquery %}
    var endpoint = '/mainapp/api/chart/data/'
    var defaultData = []
    var labels = [];
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

    function setChart(){
      var ctx = document.getElementById('myChart');
      var ctx2 = document.getElementById("myChart2");

      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Count',
                  data: defaultData,
                  backgroundColor: [
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      ],
                  borderColor: [
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(255, 99, 132, 1)',
                      ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });


    var myChart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                label: 'Count',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    ],
                borderColor: [
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
  }

  {% endblock %}
</script>
{% block content %}
  {% if user.is_authenticated %}
  <style>
       .button {
       border-radius: 4px;
       background-color: #301934;
       border: none;
       color: white;
       padding: 7px 35px;
       text-align: center;
       width:200px;
       transition: all 0.5s;
       font-size: 20px;
       margin: 5px;
       cursor: pointer;
       }

      .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      }

      .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
      }

      .button:hover span {
      padding-right: 25px;
      }

      .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    hr.style-one {
      border: 0;
      height: 3px;
      background: #333;
      background-image: linear-gradient(to right, gray, #fff, gray);
    }
    </style>
    <hr class="style-one"/>
  <div class="container">
    <div class="container">
      <div class="card-deck">
        <div class="card">
          <div class="card-body text-center">
            <h3>See Previous Interview Data</h3>
            <button class="button" onclick="window.location.href = '{% url 'mainapp:past' %}';"><span>Search </span></button>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h3>Start new interview process</h3>
            <button class="button" onclick="window.location.href = '{% url 'mainapp:new_process' %}';"><span>Start </span></button>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h3>Send invitation for Interview</h3>
            <button class="button" onclick="window.location.href = '{% url 'mainapp:invitation' %}';"><span>Send </span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr class="style-one"/><br><br>
  <div class="container-fluid">
    <h2 class="text-center" style="color:#e91d43;">Statistics</h2>
    <div class="row">
      <div class="col-md-8 offset-md-3" url-endpoint="{% url 'mainapp:chart-data' %}">
        <div class="col-md-6">
          <canvas id="myChart" width="200" height="200"></canvas>
          <h3 class="text-center" style="color:#fff;">Bar Graph</h3>
        </div>
        <div class="col-md-6">
          <canvas id="myChart2" width="200" height="200"></canvas>
          <h3 class="text-center" style="color:#fff;">Doughnut Graph</h3>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
{% endblock %}
