{% extends 'mainapp/dashboard.html' %}
{% block content %}
  {% if user.is_authenticated %}
  <style>
    li{
      color:#fff;
    }
    hr.style-one {
      border: 0;
      height: 3px;
      background: #333;
      background-image: linear-gradient(to right, gray, #fff, gray);
    }
    table{
      color:#000;
      width:100%;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 25px;
      text-align: center;
      background-color: #4CAF50;
      color: white;
      border: 1px solid #ddd;
      padding: 8px;
    }
    td{
      background-color:#fff;
      border: 1px solid #ddd;
      padding-left: 10px;
    }
  </style>

  <div class="container-fluid">
    {%  include 'mainapp/status.html' %}
    <hr class="style-one"/>
    <br>
    <h2 class="text-center" style="color:#e91d43;">List of Applied Candidates</h2><br>
    <table>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Applied Post</th>
        <th>Update</th>
      </tr>
      {% for applicant in data %}
      <tr>
        <td>{{ applicant.email }}</td>
        <td>{{ applicant.full_name }}</td>
        <td>{{ applicant.job_post }}</td>
        <td><a class="btn bt`n-sm btn-info" href="{% url 'mainapp:update_candidate' applicant.email %}">Update</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
{% endblock %}
