{% extends "mainapp/dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {% if user.is_authenticated %}
  <style>
    hr.style-one {
      border: 0;
      height: 3px;
      background: #333;
      background-image: linear-gradient(to right, gray, #fff, gray);
    }
    hr.style-two {
      overflow: visible; /* For IE */
      height: 3px;
      border-style: solid;
      border-color: white;
      border-width: 1px 0 0 0;
      border-radius: 20px;
    }
    hr.style-two:before { /* Not really supposed to work, but does */
      display: block;
      content: "";
      height: 30px;
      margin-top: -31px;
      border-style: solid;
      border-color: white;
      border-width: 0 0 1px 0;
      border-radius: 20px;
    }
    ul{
      color: #fff;
    }

    #employee_data {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #employee_data td, #employee_data th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #employee_data tr:nth-child(even){background-color: #f2f2f2;}

    #employee_data tr:nth-child(odd){background-color: #fff;}

    #employee_data tr:hover {background-color: #ddd;}

    #employee_data th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
  </style>
  <main role="main" class="container-fluid">
    <hr class="style-one"/><br>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-row">
          <div class="form-group col-4">
              <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" type="search" name="hr_id" placeholder="   HR ID exact..." />
                  <span class="input-group-append">
                      <div class="input-group-text">
                          <i class="fa fa-search"></i>
                      </div>
                  </span>
              </div>
          </div>
          &nbsp; &nbsp; &nbsp;
        <div class="form-group col-md-2 col-lg-2">
          <label for="date_of_interview">Interview date</label>
          <input type="date" class="form-control" id="date_of_interview" name="date_of_interview">
        </div>
          &nbsp; &nbsp; &nbsp;
        <!--<div class="form-group col-md-2">
          <label for="category">Category</label>
          <select id="category" class="form-control" name="category">
            <option selected>Choose...</option>
            {% for applicant in queryset %}
            <option value="{{ applicant.category }}">{{ applicant.category }}</option>
            {% endfor %}
          </select>
        </div>-->
        &nbsp; &nbsp; &nbsp; <!--<button type="submit" class="btn btn-primary">Search</button>--><input class="btn btn-primary" type="submit" value="Search" />
      </div>

    </form><br>
    <!--<form method="post" action="">
      {% csrf_token %}
      {{form|crispy}}
      <div class="form-group col-md-2 col-lg-2">
        <label for="date_of_interview">Interview date</label>
        <input type="date" class="form-control" id="date_of_interview" name="date_of_interview">
      </div>
      <input class="btn btn-primary" type="submit" value="Search" />
  </form>-->
    <hr class="style-one"/>
    <div class="row">
      <table id="employee_data">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Highest Degree</th>
          <th>Degree Score</th>
          <th>Type</th>
          <th>Aptitude Score</th>
          <th>Technical Score</th>
          <th>Personality Score</th>
          <th>Category</th>
          <th>HR ID</th>
          <th>Interview Date</th>
        </tr><hr class="style-two" />
        {% for applicant in queryset %}
        <tr>
          <td>{{ applicant.full_name }}</td>
          <td>{{ applicant.email }}</td>
          <td>{{ applicant.contact }}</td>
          <td>{{ applicant.degree }}</td>
          <td>{{ applicant.degree_score }}</td>
          <td>{{ applicant.type }}</td>
          <td>{{ applicant.aptitude_score }}</td>
          <td>{{ applicant.technical_score }}</td>
          <td>{{ applicant.personality_score }}</td>
          <td>{{ applicant.category }}</td>
          <td>{{ applicant.hr_id }}</td>
          <td>{{ applicant.date_of_interview }}</td>
        </tr><hr class="style-two" />
        {% endfor %}
      </table>
        <!--<ul>
          {% for applicant in queryset %}
            <li>
              <span>Name: {{ applicant.full_name }}</span><br>
              <span>Email: {{ applicant.email }}</span> &nbsp; &nbsp; &nbsp; <span>Contact: {{ applicant.contact }}</span><br>
              <span>Highest Qualification with marks : {{ applicant.degree }} : {{ applicant.degree_score }}</span><br>
              <span>Type : {{ applicant.type }}</span><br>
              <span>Aptitude Score : {{ applicant.aptitude_score }}</span>&nbsp; &nbsp; &nbsp;
              <span>Technical Score : {{ applicant.technical_score }}</span>&nbsp; &nbsp; &nbsp;
              <span>Personality Score : {{ applicant.personality_score }}</span><br>
              <span>Category : {{ applicant.category }}</span><br>
              <span>HR ID : {{ applicant.hr_id }}</span>&nbsp; &nbsp; &nbsp;
              <span>Interview Date : {{ applicant.date_of_interview }}</span>
            </li>
            <hr />
          {% endfor %}
        </ul>-->
      </div>
  </main>
  {% endif %}
{% endblock %}
