{% extends "mainapp/dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {% if user.is_authenticated %}
  <style>
    hr.style-one {
      border: 0;
      height: 3px;
      background: #333;
      background-image: linear-gradient(to right, gray, #fff, gray);
    }
    hr.style-two {
      overflow: visible; /* For IE */
      height: 3px;
      border-style: solid;
      border-color: white;
      border-width: 1px 0 0 0;
      border-radius: 20px;
    }
    hr.style-two:before { /* Not really supposed to work, but does */
      display: block;
      content: "";
      height: 30px;
      margin-top: -31px;
      border-style: solid;
      border-color: white;
      border-width: 0 0 1px 0;
      border-radius: 20px;
    }
    ul{
      color: #fff;
    }

    #employee_data {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #employee_data td, #employee_data th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #employee_data tr:nth-child(even){background-color: #f2f2f2;}

    #employee_data tr:nth-child(odd){background-color: #fff;}

    #employee_data tr:hover {background-color: #ddd;}

    #employee_data th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
    .form-control{
      background: transparent;
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid #f44c89;
      margin-bottom: 30px;
      font-size: 18px;
      color: white;
      padding: 20px;
    }

  </style>
  <main role="main" class="container-fluid">
    <hr class="style-one"/><br>
    <br>
    <form method="post" action="">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col-md-2 col-lg-2">
          <label for="date_of_interview"><h6>&nbsp; &nbsp; &nbsp;&nbsp;HR ID</h6></label><br>
          {{ form }}
        </div>
        <div class="form-group col-md-2 col-lg-2">
          &nbsp; &nbsp; &nbsp;<label for="date_of_interview"><h6>&nbsp; &nbsp; &nbsp;Interview date</h6></label><br>
          <input type="date" class="form-control" id="date_of_interview" name="date_of_interview">
        </div>
        <div class="col-md-2 col-lg-2">
          <br><input class="btn btn-primary" type="submit" value="Search" />
        </div>
      </div>
    </form>
    <hr class="style-one"/>
    <div class="row">
      <table id="employee_data">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Highest Degree</th>
          <th>Degree Score</th>
          <th>Type</th>
          <th>Aptitude Score</th>
          <th>Technical Score</th>
          <th>Personality Score</th>
          <th>Category</th>
          <th>HR ID</th>
          <th>Interview Date</th>
        </tr><hr class="style-two" />
        {% for applicant in queryset %}
        <tr>
          <td>{{ applicant.full_name }}</td>
          <td>{{ applicant.email }}</td>
          <td>{{ applicant.contact }}</td>
          {% if applicant.degree == 'be_btech' %}
            <td>BE/BE.Tech</td>
          {% elif applicant.degree == 'me_mtech' %}
            <td>ME/ME.Tech</td>
          {% else %}
            <td>{{ applicant.degree }}</td>
          {% endif %}
          <td>{{ applicant.degree_score }}</td>
          <td>{{ applicant.type }}</td>
          <td>{{ applicant.aptitude_score }}</td>
          <td>{{ applicant.technical_score }}</td>
          <td>{{ applicant.personality_score }}</td>
          {% if applicant.category == '1' %}
            <td>Selected</td>
          {% elif applicant.category == '0' %}
            <td>Rejected</td>
          {% else %}
            <td>-</td>
          {% endif %}
          <td>{{ applicant.hr_id }}</td>
          <td>{{ applicant.date_of_interview }}</td>
        </tr><hr class="style-two" />
        {% endfor %}
      </table>
      <script>
        $("table").tableExport();
      </script>
      </div>
  </main>
  {% endif %}
{% endblock %}
