{% extends 'mainapp/dashboard.html' %}
<script>
  {% block jquery %}
    var endpoint = '/mainapp/api/chart/data/'
    var defaultData = []
    var labels = [];
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

    function setChart(){
      var ctx = document.getElementById('myChart');
      var ctx2 = document.getElementById("myChart2");
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Count',
                  data: defaultData,
                  backgroundColor: [
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                  ],
                  borderColor: [
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(255, 99, 132, 1)',
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });

      var myChart2 = new Chart(ctx2, {
          type: 'doughnut',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Count',
                  data: defaultData,
                  backgroundColor: [
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      ],
                  borderColor: [
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(255, 99, 132, 1)',
                      ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
    }


  {% endblock %}
</script>
{% block content %}
  {% if user.is_authenticated %}
  <style>
    hr.style-one {
      border: 0;
      height: 3px;
      background: #333;
      background-image: linear-gradient(to right, gray, #fff, gray);
    }
  </style>
  <h1 class="text-center" style="color:#e91d43;">Statistics</h1>

  <div class="container">
    <hr class="style-one"/>
    <br><br>
    <div class="row offset">
      <div class="col-md-6">
          <canvas id="myChart" width="200" height="200"></canvas><br><br>
          <h3 class="text-center" style="color:#fff;">Bar Graph</h3>
      </div>
      <div class="col-md-6" style="border-left: 6px solid white;">
        <canvas id="myChart2" width="200" height="200"></canvas><br><br>
        <h3 class="text-center" style="color:#fff;">Doughnut Graph</h3>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
