<style>
  h5.card-title{
		color: #000000;
	}
  #orders-pending{

	}
</style>

<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3">
			  	<div class="card-header" style="background-color: #48a6b8; border-bottom: 2px solid black;">
			  		<h5 class="card-title">No of vacancies : </h5>
			  	</div>
			  	<div class="card-body" style="background-color: #53cae0;">
			    	<h3 class="card-title" style="color: black;">{{ vacancies }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3">
			  	<div class="card-header" style="background-color: #71acbd; border-bottom: 2px solid black;">
			  		<h5 class="card-title">No of applicants for {{ post }}</h5>
			  	</div>
			  	<div class="card-body" style="background-color: #7abecc;">
			    	<h3 class="card-title" style="color: black;">{{ appcount }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3">
			  	<div class="card-header"  style="background-color: #36c7aa; border-bottom: 2px solid black;">
			  		<h5 class="card-title">Candidates Interviewd</h5>
			  	</div>
			  	<div class="card-body" style="background-color: #7CD1C0;">
			    	<h3 class="card-title" style="color: black;"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<br>
