<!DOCTYPE html>
<html>

{% include "posts/head.html" %}

<body>
  <style media="screen">
    .banner{
      background: #FFF0E4;
    }
  </style>
  <div class="container-fluid banner">

    {% include 'posts/header.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}
</div>
    {% include 'posts/footer.html' %}
    {% include 'posts/scripts.html' %}

</body>

</html>
