{% load static %}
<footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <h6 class="text-white">Candidate Hiring App</h6>
            </div>
            <div class="contact-details">
              <p>Keystone School of Engineering, Pune</p>
              <p>Email: <a href="mailto:candidatehiringdjangoapp@gmail.com">Candidatehirnigsystem.com</a></p>
              <ul class="social-menu">
                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-telegram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2020. <a href="/" class="text-white">All rights reserved. Candidate Hiring System.</a></p>
            </div>
            <div class="col-md-6 text-right">
              <p>Template By <a href="/" class="text-white">Candidate Hiring System</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
